.select {
    display: flex;
    flex-direction: column;
    width: 536px;
    @media (max-width: 1199px) {
        width: 100%;
    }
    &__wrap {
        position: relative;
        width: 100%;
        &__select {
            z-index: 3;
            cursor: pointer;
            width: 100%;
            outline: none;
            border: 1px solid var(--gray);
            padding: 20px 24px 20px 24px;
            color: var(--black);
            transition: all 0.2s ease-in-out;
            &:hover {
                border-color: var(--blue);
            }
            & option {
                display: none;
            }
            &__text {
                transition: all 0.2s ease-in-out;
                color: var( --light-gray);
            }
        }
        &__icon {
            transition: all 0.2s ease-in-out;
            position: absolute;
            top: 16px;
            right: 16px;
            width: 32px;
            height: 32px;
            background: url("../svg/select-arrow-down.svg");
        }
        &__options {
            box-shadow: 0px 0px 24px rgba(35, 35, 35, 0.05);
            display: none;
            position: absolute;
            width: 100%;
            background-color: var(--white);
            z-index: 4;
            .option {
                color: var(--black);
                padding: 13px 24px;
                cursor: pointer;
                transition: all 0.2s ease-in-out;
                &:hover {
                    background-color: var(--gray);
                }
            }
        }
    }
    &.open {
        .select__wrap__select {
            border-color: var(--blue);
        }
        .select__wrap__icon {
            background: url("../svg/select-arrow-up.svg");
        }
        .select__wrap__options {
            display: block;
        }
    }
    &.success {
        .select__wrap__select__text {
            color: var(--black);
        }
        .select__wrap__select {
            border-color: var(--success);
        }
        .select__wrap__icon {
            background: url("../svg/succes.svg");
        }
    }
}