@font-face {
    font-family: "Ubuntu";
    src: url("../fonts/Ubuntu-Regular.woff") format("woff");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Ubuntu";
    src: url("../fonts/Ubuntu-Medium.woff") format("woff");
    font-style: normal;
    font-weight: 500;
}