.old-Talin {
    padding-top: 64px;
    @media (max-width: 1199px) {
        padding-top: 40px;
    }
    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        @media (max-width: 1199px) {
            flex-direction: column;
            justify-content: unset;
            align-items: unset;
            h2 {
                padding-bottom: 40px;
            }
        }
    }
    &__text {
        padding-top: 64px;
        max-width: 586px;
        padding-bottom: 64px;
        @media (max-width: 1199px) {
            padding-top: 40px;
            max-width: unset;
        }
    }
    &__slider {
        .swiper {
            user-select: none;
            @media (max-width: 639px) {
                margin-right: -20px;
            }
            .swiper-slide {
                width: 313px;
                @media (max-width: 1199px) {
                    width: 266px;
                }
            }
            img {
                object-fit: cover;
                width: 100%;
                height: 336px;
                @media (max-width: 1199px) {
                    height: 284px;
                }
            }
            .nav_wrap {
                padding-top: 32px;
                display: flex;
                justify-content: center;
                @media (max-width: 1199px) {
                    padding-top: 24px;
                }
            }
            .prev,
            .next {
                display: inline-block;
            }
            .prev {
                margin-right: 16px;
            }
            .next {
                margin-left: 32px;
            }
        }
    }
}