.modal {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--light-gray);
    z-index: 9998;
    display: flex;
    justify-content: center;
    display: none;
    &__wrap {
        position: absolute;
        z-index: 9999;
        top: 176px;
        max-width: 1184px;
        background-color: var(--white);
        max-height: calc(100vh - 240px);
        overflow: auto;
        @media (max-width: 1199px) {
            top: 160px;
            max-height: calc(100vh - 192px);
        }
        &::-webkit-scrollbar {
            width: 6px;
        }
        &::-webkit-scrollbar {
            background-color: var(--white);
        }
        &::-webkit-scrollbar-thumb {
            background-color: var(--blue);
        }
    }
    &.active {
        display: flex;
    }
}